.version.about /* version checker */
{
	color: #0000E8;
	background-color: #23D953;
}

.html
{
	background-color: #2C2C2F;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 499.95000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 28px;
	width: 0.01px;
}

#pu2056
{
	width: 0.01px;
	margin-left: -100px;
}

#u2056
{
	z-index: 2;
	width: 200px;
	height: 59px;
	margin-right: -10000px;
	left: 1060px;
}

#u2057_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
	left: -100px;
}

#u4384
{
	z-index: 24;
	width: 80px;
	margin-bottom: -31px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 125px;
}

#u2060-4
{
	z-index: 4;
	width: 429px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 221px;
}

#u2064-4
{
	z-index: 12;
	width: 269px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 801px;
}

#u2065
{
	z-index: 16;
	width: 1px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1079px;
}

#u2063-4
{
	z-index: 8;
	width: 70px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1088px;
}

#u2068
{
	z-index: 17;
	width: 1px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1173px;
}

#u2069
{
	z-index: 18;
	width: 10px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1192px;
}

#u2057,#u2057-bw
{
	z-index: 3;
	min-height: 59px;
}

#pu4129
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 59px;
}

#u4129
{
	z-index: 26;
	width: 950px;
	background-color: transparent;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u4129 .clip_frame
{
	-webkit-border-radius: 5px 5px 5px 5px;
}

#u4129_img
{
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
}

#u2240-4
{
	z-index: 28;
	width: 148px;
	min-height: 26px;
	background-color: transparent;
	text-align: left;
	font-size: 24px;
	color: #FFFFFF;
	font-family: gudea, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 422px;
	left: 180px;
}

#u2241-16
{
	z-index: 32;
	width: 504px;
	min-height: 407px;
	background-color: transparent;
	text-align: left;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 472px;
	left: 179px;
}

#u2241,#u2241-13
{
	color: #FFFFFF;
}

#u2244
{
	z-index: 48;
	width: 815px;
	height: 3px;
	border-color: #000000;
	background-color: #2B2B2C;
	position: relative;
	margin-right: -10000px;
	margin-top: 435px;
	left: 247px;
}

#u3970
{
	z-index: 49;
	width: 883px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u4016
{
	z-index: 51;
	width: 917px;
	border-color: #000000;
	background-color: #2670B2;
	border-radius: 0px 0px 5px 5px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 925px;
	left: 154px;
	padding: 4px 8px 4.4500000000000455px 25px;
}

#u4017-18
{
	z-index: 52;
	width: 917px;
	min-height: 15px;
	background-color: transparent;
	font-size: 13px;
	position: relative;
}

#u4017-9
{
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: gudea, sans-serif;
	font-weight: 400;
}

#u4017-2,#u4017-11
{
	color: #FFFFFF;
	font-family: gudea, sans-serif;
	font-weight: 700;
}

#u4017-6,#u4017-13
{
	font-family: gudea, sans-serif;
	font-weight: 400;
}

#u4018-4
{
	z-index: 70;
	width: 917px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	margin-top: 8px;
	position: relative;
}

#u2241-3,#u2241-5,#u2241-6,#u2241-8,#u2241-9,#u2241-11,#u2241-12,#u4017,#u4017-3,#u4017-10,#u4017-12,#u4018
{
	color: #FFFFFF;
	font-family: gudea, sans-serif;
	font-weight: 400;
}

#u4209
{
	z-index: 74;
	width: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4234
{
	z-index: 75;
	width: 53px;
	height: 1px;
	-pie-box-shadow: 0px 1px 0px #FFFFFF;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 13px;
}

#u4233
{
	z-index: 76;
	width: 53px;
	height: 1px;
	-pie-box-shadow: 0px 1px 0px #FFFFFF;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 13px;
}

#u4210
{
	z-index: 77;
	width: 53px;
	height: 1px;
	-pie-box-shadow: 0px 1px 0px #FFFFFF;
	box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
	border-color: #FFFFFF;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 13px;
}

#menuu4211
{
	z-index: 78;
	width: 72px;
	background-color: transparent;
	padding: 4px;
	position: relative;
	margin-right: -10000px;
}

#u4212
{
	width: 72px;
	background-color: transparent;
	position: relative;
}

#u4213
{
	width: 72px;
	min-height: 22px;
	border-style: none;
	border-color: #39393A;
	background-color: transparent;
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4214-4
{
	width: 72px;
	min-height: 22px;
	border-style: none;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #FAFAFB;
	font-family: molengo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 46px;
}

#u4213:hover #u4214-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4213:active #u4214-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4213:hover #u4214-4 p
{
	color: #2670B2;
	visibility: inherit;
}

#u4213:active #u4214-4 p
{
	color: #2670B2;
	visibility: inherit;
}

#u4227
{
	width: 72px;
	min-height: 22px;
	border-color: #39393A;
	background-color: transparent;
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u4227.MuseMenuActive
{
	border-color: #39393A;
	border-radius: 0px;
	width: 72px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u4229-4
{
	width: 72px;
	min-height: 22px;
	border-style: none;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #FAFAFB;
	font-family: molengo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 46px;
	left: 0px;
}

#u4213.MuseMenuActive #u4214-4,#u4227:hover #u4229-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4227:active #u4229-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4213.MuseMenuActive #u4214-4 p,#u4227:hover #u4229-4 p
{
	color: #2670B2;
	visibility: inherit;
}

#u4227:active #u4229-4 p
{
	color: #2670B2;
	visibility: inherit;
}

#u4226,#u4219
{
	width: 72px;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u4220
{
	width: 72px;
	min-height: 22px;
	border-color: #39393A;
	background-color: transparent;
	padding-bottom: 93px;
	position: relative;
	margin-right: -10000px;
}

#u4213:hover,#u4220:hover
{
	border-color: #000000;
	background-color: transparent;
	width: 72px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u4223-4
{
	width: 72px;
	min-height: 22px;
	border-style: none;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #FAFAFB;
	font-family: molengo, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 46px;
}

#u4227.MuseMenuActive #u4229-4,#u4220:hover #u4223-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4220:active #u4223-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4220.MuseMenuActive #u4223-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u4227.MuseMenuActive #u4229-4 p,#u4220:hover #u4223-4 p
{
	color: #2670B2;
	visibility: inherit;
}

#u4220:active #u4223-4 p
{
	color: #2670B2;
	visibility: inherit;
}

#u4220.MuseMenuActive #u4223-4 p
{
	color: #2670B2;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4429
{
	z-index: 97;
	width: 339px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: transparent;
	border-radius: 0px 84px 84px 84px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 502px;
	left: 723px;
}

#u4429 .clip_frame
{
	-webkit-border-radius: 0px 84px 84px 84px;
}

#u2071-4
{
	z-index: 20;
	width: 519px;
	min-height: 27px;
	margin-left: 193px;
	margin-top: 24px;
}

body
{
	position: relative;
	min-width: 1160px;
}

