.heading1,.heading3,.Gudea-Regular-14pt,.Gudea-Regular-24pt
{
	font-family: gudea-n4, sans-serif;
}

.Home---Important,.Gudea-Bold-14pt,.Gudea-Bold-24pt
{
	font-family: gudea-n7, sans-serif;
}

.Gudea-Italic-14pt,.Gudea-Italic-24pt
{
	font-family: gudea-i4, sans-serif;
}

.bodytext,.heading2,.Home---Default,.Molengo-Regular-14pt,.Molengo-Regular-24pt,.Molengo-Regular-16pt,.Molengo-Regular-Grey-14pt
{
	font-family: molengo-n4, sans-serif;
}

#u2060-4,#u2064-4,#u2063-4
{
	font-family: gudea-n4, sans-serif;
}

#u2071-4
{
	font-family: molengo-n4, sans-serif;
}

#u2485-4
{
	font-family: molengo-n4, sans-serif;
}

#u2478-4
{
	font-family: molengo-n4, sans-serif;
}

#u2493-4
{
	font-family: molengo-n4, sans-serif;
}

#u2522-3,#u4491-3
{
	font-family: molengo-n4, sans-serif;
}

#u2521-3,#u2521-5,#u2521-7,#u2522-7,#u2522-8,#u2522-12,#u2522-13,#u2522-17,#u2522-18,#u2522-22,#u2523-3,#u2523-5,#u2523-7,#u2523-8,#u2523-12,#u2524-3,#u2524-4,#u2524-6,#u4491-9,#u4491-10,#u4491-12,#u4491-16,#u4491-17,#u4491-19,#u4491-23,#u4491-24,#u4491-26,#u4491-30,#u4024
{
	font-family: gudea-n4, sans-serif;
}

