.heading1,.heading3,.Gudea-Regular-14pt,.Gudea-Regular-24pt
{
	font-family: gudea-n4, sans-serif;
}

.Home---Important,.Gudea-Bold-14pt,.Gudea-Bold-24pt
{
	font-family: gudea-n7, sans-serif;
}

.Gudea-Italic-14pt,.Gudea-Italic-24pt
{
	font-family: gudea-i4, sans-serif;
}

.bodytext,.heading2,.Home---Default,.Molengo-Regular-14pt,.Molengo-Regular-24pt,.Molengo-Regular-16pt,.Molengo-Regular-Grey-14pt
{
	font-family: molengo-n4, sans-serif;
}

#u2060-4,#u2064-4,#u2063-4
{
	font-family: gudea-n4, sans-serif;
}

#u2071-4
{
	font-family: molengo-n4, sans-serif;
}

#u2240-4,#u4017-2,#u4017-11
{
	font-family: gudea-n7, sans-serif;
}

#u2241-3,#u2241-5,#u2241-6,#u2241-8,#u2241-9,#u2241-11,#u2241-12,#u4017,#u4017-3,#u4017-6,#u4017-9,#u4017-10,#u4017-12,#u4017-13,#u4018
{
	font-family: gudea-n4, sans-serif;
}

#u4214-4
{
	font-family: molengo-n4, sans-serif;
}

#u4229-4
{
	font-family: molengo-n4, sans-serif;
}

#u4223-4
{
	font-family: molengo-n4, sans-serif;
}

