#u2056
{
	-pie-box-shadow: 0px 1px 1px #3C3C42;
	box-shadow: 0px 1px 1px #3C3C42;
	border-style: solid;
	border-color: #000000;
	background-color: #3D3F41;
	position: relative;
	border-width: 0px 0px 1px;
}

#u2057
{
	-pie-box-shadow: 0px 1px 1px #3C3C42;
	box-shadow: 0px 1px 1px #3C3C42;
	border-style: solid;
	border-color: #000000;
	background-color: #3D3F41;
	border-width: 0px 0px 1px;
}

#u2057_align_to_page
{
	position: relative;
}

#u2060-4
{
	background-color: transparent;
	color: #C8C8C8;
	font-size: 28px;
	font-family: gudea, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2064-4,#u2063-4
{
	background-color: transparent;
	text-align: right;
	font-size: 18px;
	color: #C8C8C8;
	font-family: gudea, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2065,#u2068
{
	-pie-box-shadow: 1px 0px 0px #FFFFFF;
	box-shadow: 1px 0px 0px rgba(255,255,255,0.1);
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u4384,#u2069
{
	background-color: transparent;
	position: relative;
}

#u2071-4
{
	background-color: transparent;
	color: #92989E;
	font-size: 14px;
	font-family: molengo, sans-serif;
	font-weight: 400;
	position: relative;
}

